doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Portfolio
		link(rel="stylesheet" href="style.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")

	body
	// Container
	.container
		// Header
		header
			.navbar
				.logo 
					h2 Techcollege
				.nav
					ul
						li Seneste nyt
						li Alle nyheder
						li Regionalt
						li Sport
				.burgermenu 
					span
					span
					span
		// Content
		section
			h1 Lorem ipsum dolor sit amet 
			p consectetur adipisicing elit. Minus distinctio expedita repellendus voluptatem molestiae! Voluptate delectus ducimus illo explicabo voluptas molestias error, necessitatibus fugit laborum, at temporibus molestiae ipsam tempora.
			.grid-container
				.grid-item.grid1
				.grid-item.grid2
				.grid-item.grid3
				.grid-item.grid4
			h2 Lorem ipsum dolor sit amet 
			p consectetur adipisicing elit. Minus distinctio expedita repellendus voluptatem molestiae! Voluptate delectus ducimus illo explicabo voluptas molestias error, necessitatibus fugit laborum, at temporibus molestiae ipsam tempora.
			p voluptatem molestiae! Voluptate delectus ducimus illo explicabo voluptas molestias error, necessitatibus fugit laborum, at temporibus molestiae ipsam tempora.

		// Sidebar
		.sidebar
			ul
				h3 sidebar menu
				li 
					a(href="#") Seneste nyt
				li 
					a(href="#") Alle nyheder
				li 
					a(href="#") Regionalt
				li 
					a(href="#") Sport
				li 
					a(href="#") Vejret
		// Footer
		footer
			.footer-grid
				.col-2
					h4 
						strong Nyheder
					a(href="#") Seneste nyt
					a(href="#") Alle nyheder
					a(href="#") Regionalt
					a(href="#") Sport
					a(href="#") Vejret
				.col-2
					h4 
						strong Adresse
					p Øster Uttrup Vej 1
					p 9000  
					p Aalborg
				.col-8
					h4 
						strong Nyhedsbrev	
					input(type="text" placeholder="Enter Email" name="email")
					button(type="submit") tilmeld

	// Javascript
	script(type="text/javascript" src="js/jquery.min.js")
	script(type="text/javascript" src="js/javascript.js")